.header {
  background: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;

}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.text-title {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right .ant-avatar {
  margin-right: 10px;
}

.text-content {
  font-size: 14px;
  color: #333;
}

@media (max-width: 768px) {
  .header {
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-left {
    flex: 1 1 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
  }

  .header-right {
    flex: 1 1 100%;
    text-align: center;
  }

  .text-title {
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
  }

  .text-content {
    font-size: 14px;
  }

  .ant-avatar {
    width: 32px;
    height: 32px;
  }

  .header-right {
    padding: 0;
  }

  .ant-space {
    justify-content: center;
  }
}
